.flash-cols {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flash-cols > div {
	width: 50%;
	margin: 0 0 1rem 0 !important;
	padding: 0;
}

@media screen and (min-width: 1024px) {
	.flash-cols > div {
		width: 33.3%;
	}
}

.flash-cols ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.flash-cols ul > li {
	width: 50%;
	margin: 0 !important;
}

.flash-cols ul label {
	display: block;
	margin: 0 !important;
}

.flash-all {
	float: right;
}

.flash-section {
	margin-bottom: 2rem !important;
}

.flash-actions {
	margin-top: 3rem !important;
	text-align: center;
}

.flash-actions button {
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.flash-card {
	text-align: center;
}

.flash-card h1 {
	margin: 0 !important;
}

.flash-word h1 {
	font-size: 8rem !important;
}

.flash-word h4 {
	margin: 0 !important;
	opacity: 0.5;
}

.flash-card-header {
	font-weight: bold;
}
