.flash-cols {
	display: flex;
	justify-content: space-between;
}

.flash-cols > div {
	width: 33.3%;
	margin: 0 !important;
	padding: 0;
}

.flash-cols ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.flash-cols ul > li {
	width: 50%;
}

.flash-cols ul label {
	display: block;
	margin: 0 !important;
}
