---
import { Icon } from '@astrojs/starlight/components';
import { Word } from '@hangeul';

interface Props {
	word: string;
}

const { word } = Astro.props;
const inst = new Word(word);
---

<div class="word not-content">
	<div class="word-ko">
		<code>{word}</code>
	</div>

	<div class="word-en">
		<div>{inst.translate()}</div>
		<div class="word-en-sm">{inst.pronounce()}</div>
	</div>

	<div class="word-links">
		<a href={`https://translate.google.com/?sl=ko&tl=en&op=translate&text=${word}`}>
			<Icon name="translate" color="goldenrod" label="Translate" size="2rem" />
		</a>
	</div>
</div>

<style>
	.word {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		line-height: 1;
	}

	.word > div {
		--sl-card-border: var(--sl-color-purple);
		--sl-card-bg: var(--sl-color-purple-low);
		border: 1px solid var(--sl-color-gray-5);
		background-color: var(--sl-color-black);
		padding: clamp(1rem, calc(0.125rem + 3vw), 1.5rem);
		gap: clamp(0.5rem, calc(0.125rem + 1vw), 3rem);
		display: flex;
		align-items: center;
	}

	.word-ko {
		font-size: var(--sl-text-h1);
		font-weight: bold;
		color: var(--sl-color-white);
		border-right: 0 !important;
		flex: 0;
		white-space: nowrap;
	}

	.word-en {
		font-size: var(--sl-text-h2);
		border-right: 0 !important;
		flex: 1;
	}

	.word-en-sm {
		font-size: var(--sl-text-h5);
		font-weight: normal;
		margin-top: 5px;
	}

	.word-links {
		flex: 0;
		white-space: nowrap;
		text-align: right;
	}
</style>
