---
import { Word } from '@hangeul';

interface Props {
	forms: [
		{
			word: string;
			parts?: string[];
			type: '';
		},
	];
}

const { forms } = Astro.props;
---

<table>
	{
		forms.map((form) => (
			<tr>
				<td>{form.word}</td>
				<td>{new Word(form.word).translate()}</td>
			</tr>
		))
	}
</table>
